div {
box-sizing: border-box;
}
.tab {
  border: solid;
  width: 50%;
  display: inline;
  padding: 10px;
}
#this {
  background-color: orange;
}
#letter-writer {
  width: 50%;
  float: left;
  padding: 10px;
}

#letter-writer-input {
  border: solid;
padding: 20px;
  margin: 10px;
}

#letter-output {
  width: 50%;
  float: right;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}
.date {
  text-align: right;
  padding-right: 20px;
    text-transform: capitalize;
}
input {
  width: 100%;
}

#sub {
text-align: center;  font-weight: bold;
  text-decoration: underline;
    text-transform: capitalize;
}

#letter-intro {
  padding: 10px;
}

#salutation {
  padding-top: 10px;
  padding-bottom: 10px;
}
#container {
  width: 100%;
  padding-bottom: 10px;
}

#download {
  background-color: #ff7fcf;
  clear: both;
  padding: 10px;
  width: 50%;
  margin: auto;
  display: block;
}
