* {
  padding: 0px;
  margin: 0px;
    box-sizing: border-box;
}
#boxy {
    background-color: ;
}
p {
  font-family: 'arial', serif;
}
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#rep-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: solid 2px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border-radius: 0px;
}

#nav-style-box {
  margin: auto;
  width: 60%;
}
 h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.senators {
  width: 100%;
  background-color: orange;
}

#senseat1, #senseat2{
  background-color: #ff7fcf;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  width: 45%;
  margin: 2%;
  padding: 5px;
  text-align: center;
}
#senseat1 {
  float: left;
}
#senseat2 {
  float: right;
}
.bio-img-container {
  width: 49%;
  float: left;
}
.bio-details-container {
  width: 49%;
  background-color: orange;
  float: right;
}
.bio-pic-box {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
}
